@import "tailwindcss";

:root {
  --background: #0A0F1C;
  --foreground: #ffffff;
}

@font-face {
  font-family: 'DMSans';
  src: url('/fonts/DMSans-VariableFont_opsz,wght.ttf') format('truetype');
  font-weight: 100 900; /* or whatever your variable font supports */
  font-style: normal;
}

@font-face {
  font-family: 'SpaceGrotesk';
  src: url('/fonts/SpaceGrotesk-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900; /* or whatever your variable font supports */
  font-style: normal;
}

@font-face {
  font-family: 'Orbitron';
  src: url('/fonts/Orbitron-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900; /* or whatever your variable font supports */
  font-style: normal;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'SpaceGrotesk', 'Orbitron', 'DMSans', sans-serif;
}


/* globals.css */
.noise-overlay {
  background-image: radial-gradient(circle, white 1%, transparent 0);
  background-size: 2px 2px;
  opacity: 0.1;
  mix-blend-mode: overlay;
  filter: contrast(250%) brightness(700%);
  pointer-events: none;
  position: absolute;
  inset: 0;
}
